---
import ScrollToTop  from "../../../components/native/www.netspective.com/ScrollToTop";

---
<footer class="bg-gray-100">
  <div class="mx-auto max-w-7xl overflow-hidden px-6 py-12 lg:px-8">
    <nav class="-mb-6 flex flex-wrap items-center justify-center text-center" aria-label="Footer">
      <div class="pb-6">
        <a href="/about-us/" class="text-base leading-6 px-3 sm:px-3 md:px-6 text-gray-700 hover:text-gray-900">About us</a>
      </div>
      <div class="pb-6">
          <a href="/industries/healthcare/" class="text-base leading-6 px-3 sm:px-3 md:px-6 text-gray-700 hover:text-gray-900">Industries</a>
      </div>
      <div class="pb-6">
        <a href="/technology-services/" class="text-base leading-6 px-3 sm:px-3 md:px-6 text-gray-700 hover:text-gray-900">Technology Services</a>
      </div>

      <div class="pb-6">
        <a href="/consulting-services/" class="text-base leading-6 px-3 sm:px-3 md:px-6 text-gray-700 hover:text-gray-900">Consulting Services</a>
      </div>

      <div class="pb-6">
        <a href="/solutions/attest/" class="text-base leading-6 px-3 sm:px-3 md:px-6 text-gray-700 hover:text-gray-900">Solutions</a>
      </div>

      <div class="pb-6">
        <a href="/thought-leadership/" class="text-base leading-6 px-3 sm:px-3 md:px-6 text-gray-700 hover:text-gray-900">Thought Leadership</a>
      </div> 
      
    </nav>
    
    <p class="mt-10 text-center text-base leading-5 text-gray-500">Healthcare IT Consulting &amp; Medical Technology Solutions - Netspective.com © 1997- 2023 Netspective Communications LLC. All Rights Reserved.</p>
  </div>
</footer>
<ScrollToTop client:only="react"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>  