---
import "/public/assets/css/audit-report/report-custom.css";

---
<section>
  <div class="report-top-header">
    <img src="/assets/images/audit/report/report-header.jpg" alt="image" />
  </div>
  <div class="report-sign-page">
    <div class="report-sign-page-card-1">
      <div class="report-sign-heading-1 report-sign-py-35">
        SOC 2 Type 1 Report
      </div>
      <div class="report-sign-txt-3 report-sign-pb-30 bold italic">for</div>
      <div class="report-sign-heading-2 report-sign-pb-10">
        Netspective
      </div>
      <div class="report-sign-txt-4 report-sign-pb-30">
        2313 Falling Creek Rd
        <br />
          Silver Spring, MD 20904
      </div>
      <div class="report-sign-txt-4 report-sign-pb-30 bold italic">
        prepared by
      </div>
      <div class="report-sign-txt-4 report-sign-pb-30 bold text-center">
        Dathan Scott, CPA
        <br />
          Lead Auditor
      </div>
      <p class="text-center" style="margin-bottom: 20px; font-size: 18px;">Audit Period: <b>November 1, 2024 - November 30, 2024</b></p>
      <div class="report-sign-board flex">
        <div class="pr-5">X</div>
        <div>
          <img
            src="/assets/images/audit/report/report-sign-sample.jpg"
            alt="image"
          />
        </div>
      </div>
      <div class="report-sign-txt-xs text-left report-sign-pb-10 pl-20">
        Dathan Scott, CPA
      </div>
    </div>
  </div>
</section>
    