---
import NetspectiveLayout from "../../layouts/ds/tailwind/NetspectiveLayout.astro";
import { CollectionEntry, getCollection } from "astro:content";

const ipEntries = await getCollection("ip");
---

<NetspectiveLayout>
  <main>
    <section class="mx-auto max-w-7xl px-4 py-4 sm:px-6 lg:px-8">
      <article class="pb-6 curated-content">
        <div class="text-center">
         <h3 class="text-2xl font-bold mb-10 mt-4 text-center inline-flex"><span class="bg-orange-600 text-white py-2 px-8">Intellectual Property</span></h3>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-12 gap-7 mt-5 mb-3">
          {
            ipEntries.length > 0
              ? ipEntries.map(
                  (post) => (
                  <aside class="col-span-1 sm:col-span-4 md:col-span-6 lg:col-span-4">
                    <a href={post.data.url}><div class="bg-cover border border-gray-300 rounded-lg shadow overflow-hidden" style={`background-image: url('${post.data.left_content.thumbnail}');`}>
                    <div class="h-80 flex flex-wrap flex-col justify-end">
                      <div class="px-5 py-4 h-36 sm:h-44 md:h-44 lg:h-36 w-full"></div>
                        <div class="px-5 py-4 h-auto sm:h-auto md:h-36 lg:h-44 bg-sky-900 bg-opacity-90 text-white text-base sm:text-base md:text-base lg:text-lg font-medium w-full">{post.data.left_content.title}</div>
                    </div>
                    </div></a>
                  </aside>
                  ),
                    )
                  : "No data"
          }
        </div>
      </article>  
    </section>
  </main>

</NetspectiveLayout>

  
  
  
  